
*,
*::before,
*::after {
  
  box-sizing: border-box;
}

*:focus{
  outline: none;
}
body{
  padding: 0;
  margin-right: 20px;
  background: #000;
  color: white;
  font-family: 'Oxygen', sans-serif;

  
}
a {
  text-decoration: none;
}
img {
  width: 100%;
  
}
.home img {
  width: 100%;
  -webkit-filter: grayscale(100%) contrast(100%);
  filter: grayscale(100%) contrast(200%) brightness(60%);
  

}
.folio img{
  filter: grayscal 
}
aside {
  position: fixed;
  background: #222;
  top: 0px;
  left: 0px;
  width: 120px;
  height:100%;
  overflow: none;
  /* z-index: 1; */
  text-align: center;
  padding: 12px;
}
aside img {
  filter: grayscale(100%) contrast(50%) brightness(100%);
  margin-bottom: -3px;
}
.material-icons.md-36 {
  font-size: 36px;
  color:#b2b2b2;
}
aside a {
  display: block;
  padding: 40px 0;
  color: white;
  transition: all 0.35s;
  text-transform: uppercase;
  font-size: 0.75em;
  letter-spacing: 2px;
}
aside p {
  margin: 0;
  padding: 0;
}
aside a:hover {
  background: #000;
}
aside nav a:nth-child(2){
  background: #000;
}
aside nav a:nth-child(2):hover{
  background: #b2b2b2;
  color: #222;
}
main {
  max-width: 980px;
  background: #000;
  margin-left: 10%;
  padding: 12px 50px 12px 50px;
  display: auto;
  
  
  
}

header{
  text-align: center;
  letter-spacing: 2px;
}
header h1{
  font-weight: bold;
  font-size: 3em;
  letter-spacing: 2px;
  text-align: center;
  padding-top: 0px;
}
header h4 {
  font-weight: 300;
  font-size: 1em;
  letter-spacing: 4px;
  color: aqua;
  text-align: center;
}
.about,.folio,.contact{
  line-height: 1.5em;
  letter-spacing: 1px;
  font-weight: 300;
  padding: 8%;
}
.about h2,.folio h2,.contact h2{
  font-weight: 300;
  text-transform: uppercase;
  text-decoration: line-through;
  padding-bottom: 10px;
  padding-top: 10px;
  margin-top: 100px 0 0 0;
  letter-spacing: 4px;
  
}
.about p{
  color: #b2b2b2;
  
  
}
.about span{
  font-weight: 600;
  color: white;
}
.about h3{
  font-weight: 300;
  margin: 50px 0;
}
.container{
  width: 100%;
  background-color: #b2b2b2;
  
}
.container p{
  width: 100%;
  color: white;
}
.skills{
  text-align: right;
  padding: 20px;
  line-height: 30px;
  color: bisque;
  /* background-color: #424242; */
  
  
}

.html {
  width: 90%;
  background-color: #4CAF50; 
}
.css{
  width: 85%;
  background-color: darkorange; 
}
.js{
  
 width: 70%;
 background-color: aqua; 
}

.react{
  width: 70%;
 background-color: darkslategray;
}

.node{
  
  width: 50%;
  background-color: red; 
 }
.csharp{
  width: 80%;
  background-color: palevioletred; 
}
.tsql{
  width: 78%;
  background-color: blue; 
}
.git{
  
  width: 50%;
  background-color: darkgoldenrod; 
 }
.github{
  
  width: 45%;
  background-color:indigo; 
 }
.folio h3{
  color: white;
  font-weight: 300;
  letter-spacing: 2px;
}
.folio p{
  font-size: 0.875em
}
.row-halves{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 20px;
  -webkit-flex-pack: justify; 
 }
.row-halves .col{
  width: 49%;
}
.col{
  border: 1px solid #222;
  color: #b2b2b2;
  margin: 10px;
  padding: 5px;
  width: 100%;
}
label{
  color: #b2b2b2; 
}

form input{
  width: 300px;
  

}
input{
  width: 100%;
  border-color: #009688;
  padding: 3px;
  
}
.game{
    color: blue;
}
.dr{
  color: blue;
}

.contact .container{
  margin-top: 20px;
  margin-bottom: 100px;
  background: transparent;
  padding: 20px 0;

}

.footer{
  border-top: 1px solid #222;
}

.top-bar {
  padding: 20px 0;
  text-align: center;
}
.top-bar a{
  margin-top: 10px;
  font-size: 2em;
  color: #b2b2b2;
  transition: all 0.35s;
  display: inline-block;


}
.top-bar a:hover{
  transform: scale(1.1);
  color: #009688;

}.bottom-bar{
  background-color: #000;
  font-size: 0.75em;
  text-align: center;
}
@media (max-width: 768px){
  .row-halves{
    display: block;
   
  }
 .row-halves .col{
    width: 100%;
    margin: 0 0 10px 0;
  
  }
  
}

  @media (max-width: 601px){
  aside{
    display: none;
  }
  
 main{
    width: 100%;
    margin: 0 auto;
    padding: 12px 25px;
    
  }

  header{
    margin-top: 30px;
  }
  header h1{
    font-size: 2em;
    line-height: 1.4em;
  }
  header h5{
    font-size: 1em;
    letter-spacing: 1px;
   
  }

.mobile-nav{
  position: fixed;
  width: 100%;
  display: flex;
  justify-content: space-around;
  background: rgba(0, 0, 0,0.8);
  padding: 20px;
  z-index: 1;

}
.about p{
  margin-right: 2px;
}
form input#name,#email{
  width: 100%;

}
#message{
  width: 9%;
}
/* #sumbit{
  width: 100%;
} */
.mobile-nav a{
  width: 100%;
  color: #b2b2b2;
  text-transform: uppercase;
  font-size: 8px;
  letter-spacing: 2px;
  text-align: center;
  padding: 10px 10px;
  transition: all 0.35s;
  
}
.mobile-nav a:hover{
  background: #222;
  color: #b2b2b2;

}
  
@media (min-width: 600px){
  .mobile-nav{
    display: none;
  }
  
  }
}